 <!-- BEGIN app block: shopify://apps/klaviyo-email-marketing-sms/blocks/klaviyo-onsite-embed/2632fe16-c075-4321-a88b-50b567f42507 -->
  <script type="lazyload2" data-src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=WHkkBN"></script>
  <script type="lazyload2">!function(){if(!window.klaviyo){window._klOnsite=window._klOnsite||[];try{window.klaviyo=new Proxy({},{get:function(n,i){return"push"===i?function(){var n;(n=window._klOnsite).push.apply(n,arguments)}:function(){for(var n=arguments.length,o=new Array(n),w=0;w<n;w++)o[w]=arguments[w];var t="function"==typeof o[o.length-1]?o.pop():void 0,e=new Promise((function(n){window._klOnsite.push([i].concat(o,[function(i){t&&t(i),n(i)}]))}));return e}}})}catch(n){window.klaviyo=window.klaviyo||[],window.klaviyo.push=function(){var n;(n=window._klOnsite).push.apply(n,arguments)}}}}();</script>
    <script id="viewed_product" type="lazyload2">
      if (item == null) {
        var _learnq = _learnq || [];
        var item = {
          Name: "City Backpack \/\/ Black",
          ProductID: 8322457993497,
          Categories: ["accessories","All","Backpacks","New Arrivals","Shop"],
          ImageURL: "https://cdn.shopify.com/s/files/1/0661/7423/files/city-backpack-black-01_grande.jpg?v=1684561547",
          URL: "https://www.urbanmonkey.com/products/city-backpack-black",
          Brand: "Urban Monkey",
          Price: "\u003cspan class='money'\u003eRs.3,250.00\u003c\/span\u003e",
          CompareAtPrice: "\u003cspan class='money'\u003eRs.0.00\u003c\/span\u003e"
        };
        _learnq.push(['track', 'Viewed Product', item]);
        _learnq.push(['trackViewedItem', {
          Title: item.Name,
          ItemId: item.ProductID,
          Categories: item.Categories,
          ImageUrl: item.ImageURL,
          Url: item.URL,
          Metadata: {
            Brand: item.Brand,
            Price: item.Price,
            CompareAtPrice: item.CompareAtPrice
          }
        }]);
      }
    </script>
<!-- END app app block -->

<!-- BEGIN app block: shopify://apps/the4-toolkit/blocks/app-embed/049d73ec-9c99-4c7d-a189-72c9200dcc8f -->
<script type="lazyload2">
    window.THE4 = window.THE4 || {};
    window.THE4.config = window.THE4.config || {};
    window.THE4.customer = null;window.THE4.money_format = "\u003cspan class='money'\u003eRs.{{amount}}\u003c\/span\u003e";
        window.THE4.formatMoney = function(t, e) {
            function n(t, e) {
                return void 0 === t ? e : t 
            }
            function o(t, e, o, i) {
                if (e = n(e, 2),
                o = n(o, ","), 
                i = n(i, "."),
                isNaN(t) || null == t)
                    return 0;
                var r = (t = (t / 100).toFixed(e)).split(".");
                return r[0].replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1" + o) + (r[1] ? i + r[1] : "")
            }
            "string" == typeof t && (t = t.replace(".", ""));
            var i = ""
            , r = /\{\{\s*(\w+)\s*\}\}/
            , a = e || this.money_format;
            switch (a.match(r)[1]) {
            case "amount":
                i = o(t, 2);
                break;
            case "amount_no_decimals":
                i = o(t, 0);
                break;
            case "amount_with_comma_separator":
                i = o(t, 2, ".", ",");
                break;
            case "amount_with_space_separator":
                i = o(t, 2, " ", ",");
                break;
            case "amount_with_period_and_space_separator":
                i = o(t, 2, " ", ".");
                break;
            case "amount_no_decimals_with_comma_separator":
                i = o(t, 0, ".", ",");
                break;
            case "amount_no_decimals_with_space_separator":
                i = o(t, 0, " ");
                break;
            case "amount_with_apostrophe_separator":
                i = o(t, 2, "'", ".")
            }
            return a.replace(r, i)
        }
</script>
<script type="text/template" id="the4-html-template">
    <div class="the4-loading">
        <svg class="the4-spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
         <circle class="the4-path" fill="none"  stroke="#f04e23" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
      </svg>
      </div>
</script>
<!-- END app app block -->
<script type="lazyload2" data-src="https://cdn.shopify.com/extensions/1c1068a3-f653-4da8-b1a3-585a8a1d4abc/0.6.0/assets/the4.js"></script>
<link data-href="https://cdn.shopify.com/extensions/1c1068a3-f653-4da8-b1a3-585a8a1d4abc/0.6.0/assets/the4.css" rel="stylesheet">

<!-- BEGIN app block: shopify://apps/messenger-whatsapp-chat-carts/blocks/app-embed/9efdb9ca-2d01-4a12-b1ac-02679fe0f6fc -->

<script type="lazyload2" data-src="https://unpkg.com/axios/dist/axios.min.js" ></script>

<script type="lazyload2" data-src="https://cdn.shopify.com/extensions/5c219df7-9b00-466d-8d7d-ddd51f09b848/2.73.0/assets/bitespeed-popups.js" />

<!-- BEGIN app snippet: bitespeed-analytics -->

<script>
const dummyBitespeedVar="dummyBitespeedVar"
</script>
<script type="lazyload2" data-src="https://unpkg.com/axios/dist/axios.min.js" ></script>
  <script>
    const DBURL = "https://app.bitespeed.co/database";
    var indexOfwww = location.hostname.indexOf("www");
    var shopDomainStripped = (indexOfwww === -1 ? "." + location.hostname : location.hostname.substr(indexOfwww + 3));
    function getCookie(name) {
        var value = "; " + document.cookie;
        var parts = value.split("; " + name + "=");
        if (parts.length == 2) return parts.pop().split(";").shift();
    }
    function createRef(){
        let uuid = create_UUID();
        document.cookie = "refb="+uuid+";expires="+ new Date(new Date().setFullYear(new Date().getFullYear() + 10))+ ";domain=" + shopDomainStripped +"; path=/";
        return uuid;
    }
    function createSsid() {
        let uuid = create_UUID();
        document.cookie = "ssid="+uuid+ ";domain=" + shopDomainStripped +"; path=/";
        return uuid;
    }
    function create_UUID(){
        var dt = new Date().getTime();
        var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
            var r = (dt + Math.random()*16)%16 | 0;
            dt = Math.floor(dt/16);
            return (c=='x' ? r :(r&0x3|0x8)).toString(16);
        });
      return uuid;
    };
    (function() {
        let refb = String(getCookie("refb"));
        let ssid = String(getCookie("ssid"));
        if(refb === null || refb === '' || refb === undefined || refb === "undefined") {
            var refbnew = createRef();
        }
        if(ssid === null || ssid === '' || ssid === undefined || ssid === "undefined") {
            var ssidnew = createSsid();
        }

    })();
  
    function lookForCart() {
      var myCookie = getCookie("cart");
      if (myCookie) {
		clearInterval(intervalId);
        if(!getCookie(`${myCookie}`)) {
        document.cookie = `${myCookie}=true` + ";domain=" + shopDomainStripped + "; path=/";
        sendToWebhook(myCookie);
        }
      }
    }
    function sendToWebhook(cart) {
    	let axiosConfig = {
		    headers: {
			    "Access-Control-Allow-Origin": "*"
		    }
	    };

    	let url = `${DBURL}/api/shopifyCustomer/create`;
        let refb = getCookie("refb");
        if(refb === null || refb === '' || refb === undefined || refb === "undefined") {
        }
        else {
	    var postData = {
    		  cartToken: cart,
		      id: String(refb),
		      shopifyShopDomain: 'urbanmonkey.myshopify.com'
	    };
    	axios.post(url,postData, axiosConfig)
	      .then((res) => {

    	  })
	      .catch((err) => {
	      	console.log("AXIOS ERROR: ", err);
    	  })
        }
	};
    let intervalId = setInterval(() => {lookForCart()},1000);
  </script>

  <script name="bitespeed-tracking-tag" type="lazyload2">
    let axiosConfig = {
      headers: {
	      "Access-Control-Allow-Origin": "*"
      }
    };
    function analyticsPost(postData) {
      let analyticsUrl = `${DBURL}/webhook/browserSession`;
    	postData.shopifyShopDomain = 'urbanmonkey.myshopify.com';
     	postData.ref = getCookie("refb");
      	postData.ssid= getCookie("ssid");
      	axios.post(analyticsUrl, postData, axiosConfig)
        	.then((res) => {
	        	return;
        	})
        	.catch((err) => {
        console.log("AXIOS ERROR: ", err);
        })
    }
(function(){
    var bitespeedLayer = {
        cartPollInterval: 2000
    }
    var config = {
        linker: {
            domains: ['shopify.com', 'rechargeapps.com', 'recurringcheckout.com', 'carthook.com', 'checkout.com']
        },
        anonymize_ip: true,
        allow_ad_personalization_signals: true,
        page_title: removePii(document.title),
        page_location: removePii(document.location.href)
    }
    var pageView = function() {
            
    };
    // delay page firing until the page is visible
    if (document.hidden === true) {
        var triggeredPageView = false;
        document.addEventListener('visibilitychange', function() {
            if (!document.hidden && !triggeredPageView) {
                pageView();
                triggeredPageView = true;
            }
        });
    } else {
        pageView()
    }
    var hasLocalStorage = (function() {
        try {
            localStorage.setItem('bitespeed_test_storage', 'test');
            localStorage.removeItem('bitespeed_test_storage');
            return true;
        } catch (ex) {
            return false;
        }
    })();
    bitespeedLayer.ecommerce = {
        'currencyCode' : 'INR',
        'impressions' : []
    };

        var product = {"id":8322457993497,"title":"City Backpack \/\/ Black","handle":"city-backpack-black","description":"\u003cmeta charset=\"utf-8\"\u003e\n\u003cp\u003eCarrying your gear to the gym can be a workout all its own. Stuff your shoes and clothes in this Urban Monkey double zip-up backpack, and find comfort on the go. Compression straps keep the load balanced, and multiple zip compartments help you to stay organized. There's even a laptop compartment in case you're jetting to work after your session.\u003c\/p\u003e\n\u003cp\u003eComes with a detachable multi-utility pouch which helps keep essentials easily accessible without having to rummage through the main compartment of the backpack. You can use it to keep cables, chargers, keys, coins, etc. The detachable keychain can be used as a zipper puller as well.\u003c\/p\u003e\n\u003cdiv id=\"highlighter--hover-tools\" style=\"display: none;\"\u003e\n\u003cdiv id=\"highlighter--hover-tools--container\"\u003e\n\u003cdiv class=\"highlighter--icon highlighter--icon-copy\" title=\"Copy\"\u003e\u003cbr\u003e\u003c\/div\u003e\n\u003cdiv class=\"highlighter--icon highlighter--icon-change-color\" title=\"Change Color\"\u003e\u003cbr\u003e\u003c\/div\u003e\n\u003cdiv class=\"highlighter--icon highlighter--icon-delete\" title=\"Delete\"\u003e\u003cbr\u003e\u003c\/div\u003e\n\u003c\/div\u003e\n\u003c\/div\u003e\n\u003cdiv id=\"highlighter--hover-tools\" style=\"display: none;\"\u003e\n\u003cdiv id=\"highlighter--hover-tools--container\"\u003e\n\u003cdiv class=\"highlighter--icon highlighter--icon-copy\" title=\"Copy\"\u003e\u003cbr\u003e\u003c\/div\u003e\n\u003cdiv class=\"highlighter--icon highlighter--icon-change-color\" title=\"Change Color\"\u003e\u003cbr\u003e\u003c\/div\u003e\n\u003cdiv class=\"highlighter--icon highlighter--icon-delete\" title=\"Delete\"\u003e\u003cbr\u003e\u003c\/div\u003e\n\u003c\/div\u003e\n\u003c\/div\u003e\n\u003cdiv id=\"highlighter--hover-tools\" style=\"display: none;\"\u003e\n\u003cdiv id=\"highlighter--hover-tools--container\"\u003e\n\u003cdiv class=\"highlighter--icon highlighter--icon-copy\" title=\"Copy\"\u003e\u003cbr\u003e\u003c\/div\u003e\n\u003cdiv class=\"highlighter--icon highlighter--icon-change-color\" title=\"Change Color\"\u003e\u003cbr\u003e\u003c\/div\u003e\n\u003cdiv class=\"highlighter--icon highlighter--icon-delete\" title=\"Delete\"\u003e\u003cbr\u003e\u003c\/div\u003e\n\u003c\/div\u003e\n\u003c\/div\u003e\n\u003cdiv id=\"highlighter--hover-tools\" style=\"display: none;\"\u003e\n\u003cdiv id=\"highlighter--hover-tools--container\"\u003e\n\u003cdiv class=\"highlighter--icon highlighter--icon-copy\" title=\"Copy\"\u003e\u003cbr\u003e\u003c\/div\u003e\n\u003cdiv class=\"highlighter--icon highlighter--icon-change-color\" title=\"Change Color\"\u003e\u003cbr\u003e\u003c\/div\u003e\n\u003cdiv class=\"highlighter--icon highlighter--icon-delete\" title=\"Delete\"\u003e\u003cbr\u003e\u003c\/div\u003e\n\u003c\/div\u003e\n\u003c\/div\u003e\n\u003cdiv id=\"highlighter--hover-tools\" style=\"display: none;\"\u003e\n\u003cdiv id=\"highlighter--hover-tools--container\"\u003e\n\u003cdiv class=\"highlighter--icon highlighter--icon-copy\" title=\"Copy\"\u003e\u003c\/div\u003e\n\u003cdiv class=\"highlighter--icon highlighter--icon-change-color\" title=\"Change Color\"\u003e\u003c\/div\u003e\n\u003cdiv class=\"highlighter--icon highlighter--icon-delete\" title=\"Delete\"\u003e\u003c\/div\u003e\n\u003c\/div\u003e\n\u003c\/div\u003e","published_at":"2023-05-19T16:18:41+05:30","created_at":"2023-05-16T16:24:21+05:30","vendor":"Urban Monkey","type":"Accessories","tags":["18%","accessories","Backpack","Bags","black","black backpack","black bag","City Backpack","limited edition","new stuff","Shop"],"price":325000,"price_min":325000,"price_max":325000,"available":true,"price_varies":false,"compare_at_price":null,"compare_at_price_min":0,"compare_at_price_max":0,"compare_at_price_varies":false,"variants":[{"id":45237265498393,"title":"Default Title","option1":"Default Title","option2":null,"option3":null,"sku":"UM23026_BLK","requires_shipping":true,"taxable":true,"featured_image":null,"available":true,"name":"City Backpack \/\/ Black","public_title":null,"options":["Default Title"],"price":325000,"weight":650,"compare_at_price":null,"inventory_quantity":397,"inventory_management":"shopify","inventory_policy":"deny","barcode":"","quantity_rule":{"min":1,"max":null,"increment":1}}],"images":["\/\/cdn.shopify.com\/s\/files\/1\/0661\/7423\/files\/city-backpack-black-01.jpg?v=1684561547","\/\/cdn.shopify.com\/s\/files\/1\/0661\/7423\/files\/city-backpack-black-02.jpg?v=1684561547","\/\/cdn.shopify.com\/s\/files\/1\/0661\/7423\/files\/city-backpack-black-05.jpg?v=1684561381","\/\/cdn.shopify.com\/s\/files\/1\/0661\/7423\/files\/city-backpack-black-04.jpg?v=1684561381","\/\/cdn.shopify.com\/s\/files\/1\/0661\/7423\/files\/city-backpack-black-03.jpg?v=1684476432","\/\/cdn.shopify.com\/s\/files\/1\/0661\/7423\/files\/city-backpack-black-4.jpg?v=1684496165"],"featured_image":"\/\/cdn.shopify.com\/s\/files\/1\/0661\/7423\/files\/city-backpack-black-01.jpg?v=1684561547","options":["Title"],"media":[{"alt":null,"id":33743320285465,"position":1,"preview_image":{"aspect_ratio":0.834,"height":1040,"width":867,"src":"https:\/\/cdn.shopify.com\/s\/files\/1\/0661\/7423\/files\/city-backpack-black-01.jpg?v=1684561547"},"aspect_ratio":0.834,"height":1040,"media_type":"image","src":"https:\/\/cdn.shopify.com\/s\/files\/1\/0661\/7423\/files\/city-backpack-black-01.jpg?v=1684561547","width":867},{"alt":null,"id":33743320318233,"position":2,"preview_image":{"aspect_ratio":0.834,"height":1040,"width":867,"src":"https:\/\/cdn.shopify.com\/s\/files\/1\/0661\/7423\/files\/city-backpack-black-02.jpg?v=1684561547"},"aspect_ratio":0.834,"height":1040,"media_type":"image","src":"https:\/\/cdn.shopify.com\/s\/files\/1\/0661\/7423\/files\/city-backpack-black-02.jpg?v=1684561547","width":867},{"alt":null,"id":33743320416537,"position":3,"preview_image":{"aspect_ratio":0.834,"height":1040,"width":867,"src":"https:\/\/cdn.shopify.com\/s\/files\/1\/0661\/7423\/files\/city-backpack-black-05.jpg?v=1684561381"},"aspect_ratio":0.834,"height":1040,"media_type":"image","src":"https:\/\/cdn.shopify.com\/s\/files\/1\/0661\/7423\/files\/city-backpack-black-05.jpg?v=1684561381","width":867},{"alt":null,"id":33743320383769,"position":4,"preview_image":{"aspect_ratio":0.834,"height":1040,"width":867,"src":"https:\/\/cdn.shopify.com\/s\/files\/1\/0661\/7423\/files\/city-backpack-black-04.jpg?v=1684561381"},"aspect_ratio":0.834,"height":1040,"media_type":"image","src":"https:\/\/cdn.shopify.com\/s\/files\/1\/0661\/7423\/files\/city-backpack-black-04.jpg?v=1684561381","width":867},{"alt":null,"id":33743320351001,"position":5,"preview_image":{"aspect_ratio":0.834,"height":1040,"width":867,"src":"https:\/\/cdn.shopify.com\/s\/files\/1\/0661\/7423\/files\/city-backpack-black-03.jpg?v=1684476432"},"aspect_ratio":0.834,"height":1040,"media_type":"image","src":"https:\/\/cdn.shopify.com\/s\/files\/1\/0661\/7423\/files\/city-backpack-black-03.jpg?v=1684476432","width":867},{"alt":null,"id":33747998671129,"position":6,"preview_image":{"aspect_ratio":0.834,"height":1040,"width":867,"src":"https:\/\/cdn.shopify.com\/s\/files\/1\/0661\/7423\/files\/city-backpack-black-4.jpg?v=1684496165"},"aspect_ratio":0.834,"height":1040,"media_type":"image","src":"https:\/\/cdn.shopify.com\/s\/files\/1\/0661\/7423\/files\/city-backpack-black-4.jpg?v=1684496165","width":867}],"content":"\u003cmeta charset=\"utf-8\"\u003e\n\u003cp\u003eCarrying your gear to the gym can be a workout all its own. Stuff your shoes and clothes in this Urban Monkey double zip-up backpack, and find comfort on the go. Compression straps keep the load balanced, and multiple zip compartments help you to stay organized. There's even a laptop compartment in case you're jetting to work after your session.\u003c\/p\u003e\n\u003cp\u003eComes with a detachable multi-utility pouch which helps keep essentials easily accessible without having to rummage through the main compartment of the backpack. You can use it to keep cables, chargers, keys, coins, etc. The detachable keychain can be used as a zipper puller as well.\u003c\/p\u003e\n\u003cdiv id=\"highlighter--hover-tools\" style=\"display: none;\"\u003e\n\u003cdiv id=\"highlighter--hover-tools--container\"\u003e\n\u003cdiv class=\"highlighter--icon highlighter--icon-copy\" title=\"Copy\"\u003e\u003cbr\u003e\u003c\/div\u003e\n\u003cdiv class=\"highlighter--icon highlighter--icon-change-color\" title=\"Change Color\"\u003e\u003cbr\u003e\u003c\/div\u003e\n\u003cdiv class=\"highlighter--icon highlighter--icon-delete\" title=\"Delete\"\u003e\u003cbr\u003e\u003c\/div\u003e\n\u003c\/div\u003e\n\u003c\/div\u003e\n\u003cdiv id=\"highlighter--hover-tools\" style=\"display: none;\"\u003e\n\u003cdiv id=\"highlighter--hover-tools--container\"\u003e\n\u003cdiv class=\"highlighter--icon highlighter--icon-copy\" title=\"Copy\"\u003e\u003cbr\u003e\u003c\/div\u003e\n\u003cdiv class=\"highlighter--icon highlighter--icon-change-color\" title=\"Change Color\"\u003e\u003cbr\u003e\u003c\/div\u003e\n\u003cdiv class=\"highlighter--icon highlighter--icon-delete\" title=\"Delete\"\u003e\u003cbr\u003e\u003c\/div\u003e\n\u003c\/div\u003e\n\u003c\/div\u003e\n\u003cdiv id=\"highlighter--hover-tools\" style=\"display: none;\"\u003e\n\u003cdiv id=\"highlighter--hover-tools--container\"\u003e\n\u003cdiv class=\"highlighter--icon highlighter--icon-copy\" title=\"Copy\"\u003e\u003cbr\u003e\u003c\/div\u003e\n\u003cdiv class=\"highlighter--icon highlighter--icon-change-color\" title=\"Change Color\"\u003e\u003cbr\u003e\u003c\/div\u003e\n\u003cdiv class=\"highlighter--icon highlighter--icon-delete\" title=\"Delete\"\u003e\u003cbr\u003e\u003c\/div\u003e\n\u003c\/div\u003e\n\u003c\/div\u003e\n\u003cdiv id=\"highlighter--hover-tools\" style=\"display: none;\"\u003e\n\u003cdiv id=\"highlighter--hover-tools--container\"\u003e\n\u003cdiv class=\"highlighter--icon highlighter--icon-copy\" title=\"Copy\"\u003e\u003cbr\u003e\u003c\/div\u003e\n\u003cdiv class=\"highlighter--icon highlighter--icon-change-color\" title=\"Change Color\"\u003e\u003cbr\u003e\u003c\/div\u003e\n\u003cdiv class=\"highlighter--icon highlighter--icon-delete\" title=\"Delete\"\u003e\u003cbr\u003e\u003c\/div\u003e\n\u003c\/div\u003e\n\u003c\/div\u003e\n\u003cdiv id=\"highlighter--hover-tools\" style=\"display: none;\"\u003e\n\u003cdiv id=\"highlighter--hover-tools--container\"\u003e\n\u003cdiv class=\"highlighter--icon highlighter--icon-copy\" title=\"Copy\"\u003e\u003c\/div\u003e\n\u003cdiv class=\"highlighter--icon highlighter--icon-change-color\" title=\"Change Color\"\u003e\u003c\/div\u003e\n\u003cdiv class=\"highlighter--icon highlighter--icon-delete\" title=\"Delete\"\u003e\u003c\/div\u003e\n\u003c\/div\u003e\n\u003c\/div\u003e"};
        if (product && !product.error) {
            bitespeedLayer.ecommerce.detail = {products: []}
            bitespeedLayer.ecommerce.detail.products.push({
                id: product.id,
                name: product.title,
                price: (product.price/100).toFixed(0),
                brand: product.vendor,
                category: product.type,
                variants: product.variants.map(function(variant) { return { id: variant.id, sku : variant.sku } }),
                quantity: 1,
                handle: product.handle
            });
        }
    
    bitespeedLayer.ecommerce.impressions = getUniqueProducts(bitespeedLayer.ecommerce.impressions);
    function getUniqueProducts(array){
        var u = {}, a = [];
        for(var i = 0, l = array.length; i < l; ++i){
            if(u.hasOwnProperty(array[i].id)) {
                continue;
            }
            a.push(array[i]);
            u[array[i].id] = 1;
        }
        return a;
    };
    var loadScript = function(url, callback){
        var script = document.createElement("script")
        script.type = "text/javascript";
        if (script.readyState){  /* IE */
            script.onreadystatechange = function(){
                if (script.readyState == "loaded" ||
                        script.readyState == "complete"){
                    script.onreadystatechange = null;
                    callback();
                }
            };
        } else {  /* Others */
            script.onload = function(){
                callback();
            };
        }
        script.src = url;
        document.getElementsByTagName("head")[0].appendChild(script);
    }
var ldTracker = function(jQuery){
    jQuery(document).ready(function(){
        if(bitespeedLayer && bitespeedLayer.ecommerce){
            /* run list, product, and clientID scripts everywhere */
            listViewScript();
            productPageScript();
        }
    })
    function listViewScript(){
        if (!bitespeedLayer.ecommerce.impressions || !bitespeedLayer.ecommerce.impressions.length) return;
        window.setTimeout(function(){
            var postData = {
            "at" : new Date(),
            "type" : "productListViewed",
              "event" : {
                    list_id: bitespeedLayer.ecommerce.impressions[0].list,
                    products: bitespeedLayer.ecommerce.impressions
              }
                };
                analyticsPost(postData);
        },500) /* wait for pageview to fire first */
        /* product list clicks */
        jQuery('a')
            .filter(function(){ return this.href.indexOf('/products') !== -1}) /* only add event to products */
            .click(function(ev){
                ev.preventDefault();
                var self = this;
                var clickedProductDetails = bitespeedLayer.ecommerce.impressions.filter(function(product){
                    var linkSplit = self.href.split('/products/')
                    var productLink = linkSplit && linkSplit[1]
                    return productLink == product.handle
                })[0];
                if (clickedProductDetails) {
                    /* only wait 1 second before redirecting */
                    self.timeout = window.setTimeout(function(){
                        document.location = self.href;
                    },1500)
                    if(hasLocalStorage)
                        localStorage.list = location.pathname;
                    clickedProductDetails.list_name = location.pathname
                        clickedProductDetails.list_id = location.pathname
                        var postData = {
                              "at" : new Date(),
                           "type" : "productClicked",
              "event" : clickedProductDetails
                        }
                analyticsPost(postData);
                }
                else document.location = self.href;
            })
    }
    async function productPageScript(){
        var product = bitespeedLayer.ecommerce.detail
            && bitespeedLayer.ecommerce.detail.products
            && bitespeedLayer.ecommerce.detail.products[0]
        if (product) {
            if(hasLocalStorage) product.list_name = localStorage.list
                if(hasLocalStorage) product.list_id = localStorage.list
          var postData = {
            "at" : new Date(),
            "type" : "productViewed",
            "event" : product
          }
          analyticsPost(postData);
        }
    }
}
if(typeof jQuery === 'undefined'){
       loadScript('//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js', function(){
        jQuery191 = jQuery.noConflict(true);
        ldTracker(jQuery191);
        });
    } else {
        ldTracker(jQuery);
    }
    function removePii(string) {
        var piiRegex = {
            "email": /[s&amp;/,=]([a-zA-Z0-9_.+-]+(@|%40)[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+)($|[s&amp;/,])/,
            "postcode": /[s&amp;/,=]([A-Z]{1,2}[0-9][0-9A-Z]?(s|%20)[0-9][A-Z]{2})($|[s&amp;/,])/,
        };
        var dlRemoved = string;
        for (key in piiRegex) {
            dlRemoved = dlRemoved.replace(piiRegex[key], 'REMOVED');
        }
        return dlRemoved;
    }
})()
</script>
<!-- END app snippet -->
<!-- END app app block -->

<script type="lazyload2" data-src="https://cdn.shopify.com/extensions/34099ab7-06db-46da-bb17-b078f5cca95c/0.17.0/assets/contlo_messaging_v1.js"></script>
<script type="lazyload2" data-src="https://cdn.shopify.com/extensions/7cbc8cd8-5188-4a2d-9663-1bc67db45a79/1.0.0/assets/smile-shopify-loader.js"></script>