{% if collection.handle == 'um-flex' %}
  <div class="collection-banner-align">
  <img class="banner-desk img-responsive" src="https://cdn.shopify.com/s/files/1/0661/7423/files/um-flex-collection-banner-desk.jpg?v=1690873862" alt="" />
  <img class="banner-mob img-responsive" src="https://cdn.shopify.com/s/files/1/0661/7423/files/um-flex-collection-banner-mob.jpg?v=1690873862" alt="" />
  </div>
{% endif %}