<div id="shopify-block-15573056287721514228" class="shopify-block shopify-app-block json-ld-for-seo"><!-- generated: 2023-05-22 19:14:19 +0530 --><!-- A 0 --></div>
<div id="shopify-block-2369874457889669609" class="shopify-block shopify-app-block"><div is="th-bundle-embed-code" style="display:none;"></div>
<div id="th_shop_default_currency" data-val="INR" style="display:none !important"></div>
<meta id="th_shop_url" content="urbanmonkey.myshopify.com">
<meta id="th_shop_money" content="Rs.{{amount}}">
<link data-href="https://bundle.thimatic-apps.com/theme_files/th-pb-style.css?shop=urbanmonkey.myshopify.com&v=20230522191419" rel="stylesheet"/>
<script type="lazyload2" data-src="https://bundle.thimatic-apps.com/theme_files/th-pb-script.js?shop=urbanmonkey.myshopify.com&v=20230522191419"></script>
</div>